.modalBackgroundPosition{
    min-height: 70vh;
    width: 100%;
    background-color: rgb(200, 200, 200);
    top:21%;
    left:0%;
    position: absolute;
}

.modalContainerPosition{
    background-color: rgb(142, 168, 142);
    height: 55vh;
    width:45%;
    top:0;
    margin-left: 27.5%;
    border-radius: 10px;
    border:solid black;
}


.Match-Each-Player{
    height:30vh;
    width: 40%;
    margin-left: 30%;
    background-color: rgb(142, 168, 142);
    border-radius: 10px;
    border:solid black;
}
.flex{
    display: flex;
}

.aligns{
    display: flex;
    width: fit-content;
    margin-left:5%;
}
.alignsTr{
    display: flex;
    width: fit-content;
    margin-left: 20%;
}
.text{
    text-align: left;
}

.title2{
    font-size: 200%;
}

.modalbodyPosition{
    display: block;
    text-align: left;
    
}





.Buttons{
    text-align: right;
    display: flex;
    margin-top: 3%;
}

.evaluation{
    width:10rem;
    text-align: left;
    margin-left: 2%;
}


@media screen and (max-width:1450px) {

    .modalContainerPosition{
        background-color: rgb(142, 168, 142);
        width: 50%;
        margin-left: 25%;
        border-radius: 10px;
    
    }
}


@media screen and (max-width:1300px) {
    .modalContainerPosition{
        background-color: rgb(142, 168, 142);
        height: 70vh;
        width: 50%;
        margin-left: 25%;
        border-radius: 10px;
    
    }
    .evaluation{
        width:8rem;
        text-align: left;
        margin-left: 2%;
    }  

    .modalContainerPosition{
        background-color: rgb(142, 168, 142);
        height: 55vh;
       
    }
   
    
}

@media screen and (max-width:1200px) {
    .modalContainerPosition{
        background-color: rgb(142, 168, 142);
        height: 55vh;
        width: 50%;
        margin-left: 25%;
        border-radius: 10px;
    
    }
    
}


@media screen and (max-width:1100px) {
    .modalContainerPosition{
        margin-top: 2%;
        background-color: rgb(142, 168, 142);
        height: 55vh;
        width: 55%;
        margin-left: 27.5%;
        border-radius: 10px;
    
    }

    .Match-Each-Player{
        height:30vh;
        width: 40%;
        margin-left: 30%;
    
    }

    
}

@media screen and (max-width:1050px) {
    .modalContainerPosition{
        margin-top: 2%;
        background-color: rgb(142, 168, 142);
        height: 55vh;
        width: 60%;
        margin-left: 20%;
        border-radius: 10px;
    
    }
}

@media screen and (max-width:1000px) {
    .modalContainerPosition{
        margin-top: 2%;
        background-color: rgb(142, 168, 142);
        height: 55vh;
        width: 60%;
        margin-left: 20%;
        border-radius: 10px;
    
    }
    .title2{
        font-size: 150%;
    }

    
}

@media screen and (max-width:950px) {

    .modalContainerPosition{
        margin-top: 2%;
        background-color: rgb(142, 168, 142);
        height: 60vh;
        width: 70%;
        margin-left: 15%;
        border-radius: 10px;
    
    }
}



@media screen and (max-width:880px) {
    .modalContainerPosition{
        margin-top: 2%;
        background-color: rgb(142, 168, 142);
        height: 60vh;
        width: 65%;
        margin-left: 17.5%;
        border-radius: 10px;
    
    }
    .Match-Each-Player{
        height:30vh;
        width: 45%;
        margin-left: 27.5%;
    
    }
    
}

@media screen and (max-width:850px) {
    .evaluation{
        width:5rem;
        text-align: left;
        margin-left: 2%;

    }  

}