.modalBackground{
    height: auto;
    min-height: 140vh;
    width: 100%;
    background-color: rgb(200, 200, 200);
    border-radius: 8px ;
    position:absolute;
    left: 0;
}

.modalContainerPlayer{
    background-color: rgb(142, 168, 142);
    height: 60vh;
    width: 30%;
    margin-left: 35%;
    border-radius: 10px;
    border: solid black;

}

.modalContainerTraining{
    background-color: rgb(142, 168, 142);
    height: 35vh;
    width: 28%;
    margin-left: 36%;
    border-radius: 10px;
    border: solid black;
}


.Training_each_player{
    background-color: rgb(142, 168, 142);
    height: 35vh;
    width: 25%;
    margin-left: 37.5%;
    border-radius: 10px;
    border: solid black;
}

.modalContainerMatch{
    background-color: rgb(142, 168, 142);
    height: 35vh;
    width: 25%;
    margin-left: 37.5%;
    border-radius: 10px;
    border: solid black;
}






.positions{
    width: 100%;
}
.inputs{
 width: 100%;
}



.date{
    width: 100%;
    background-color: white;
}
.height_op{
    width: 100%;
}
.weight_op{
    width: 100%;
}

.x-button{
    text-align: right;
}



.title{
    margin-bottom: 5%;
    text-align: center;
    font-size: 4vh;
}

.title1{
    margin-bottom: 5%;
    text-align: center;
    font-size: 4vh;
}
.modalbody{
    display: block;
}
.text{
    text-align: left;
}

.name{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: left;
}

.btns{
    text-align: right;
    display: flex;
    margin-top: 7%;
}
.cancel-button{
    background-color: rgb(117, 0, 0);
    text-align: right;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    color:white;
}
.cancel_button_col{
    margin-left: 60%;
    width: 20%;
}

.next-button{
    background-color: rgb(0, 138, 202);
    text-align: right;
    border-radius: 10px;
    width: fit-content;
    text-align:center;
    margin-left: 30%;
    color:white;
}

.Tr1{
    margin-top: 30%;
}
.Tr{
    margin-top: 30%;
}
.trainingInModalTraining{
    margin-left: 10%;
}


@media screen and (max-width:1300px) {
    .modalContainerPlayer{
        background-color: rgb(142, 168, 142);
        height: 60vh;
        width: 35%;
        margin-left: 30%;
        border-radius: 10px;
        border: solid black;
    
    }
    
    .modalContainerTraining{
        background-color: rgb(142, 168, 142);
        height: 40vh;
        width: 30%; 
        margin-left: 35%;
        border-radius: 10px;
        border: solid black;
    }
    .Training_each_player{
        height: 40vh;
        width:30%;
        margin-left: 35%;
    }
    .title1{
        margin-bottom: 5%;
        text-align: center;
        font-size: 3vh;
    }

    .modalContainerMatch{
        background-color: rgb(142, 168, 142);
        height: 35vh;
        width: 30%;
        margin-left: 35%;
        border-radius: 10px;
        border: solid black;
    }
    .cancel_button_col{
        margin-left: 50%;
        width: 25%;
    }
    
}

@media screen and (max-width:1200px) {
    .modalContainerPlayer{
        background-color: rgb(142, 168, 142);
        height: 60vh;
        width: 40%;
        margin-left: 30%;
        border-radius: 10px;
        border: solid black;
    
    }
    
    .modalContainerTraining{
        background-color: rgb(142, 168, 142);
        height: 35vh;
        width: 32%;
        margin-left: 34%;
        border-radius: 10px;
        border: solid black;
    }   
    .Training_each_player{
        height: 40vh;
        width:35%;
        margin-left: 32.5%;
        
    }
    .Tr{
        margin-top: 30%;
        margin-left: 30%;
    }
    .btn-Trainining{
        width: fit-content;
    }
    
    .modalContainerMatch{
        background-color: rgb(142, 168, 142);
        height: 35vh;
        width: 35%;
        margin-left: 32.5%;
        border-radius: 10px;
        border: solid black;
    }
}


@media screen and (max-width:1100px) {
    
    .modalContainer{
        background-color: rgb(142, 168, 142);
        height: 60vh;
        width: 45%;
        margin-left: 27.5%;
        border-radius: 10px;
        border: solid black;
    
    }
    
    .modalContainerTraining{
        background-color: rgb(142, 168, 142);
        height: 35vh;
        width: 35%;
        margin-left: 35%;
        border-radius: 10px;
        border: solid black;
    }
    .Training_each_player{
        height: 35vh;
        width:40%;
        margin-left: 30%;
    }
    .Tr{
        margin-top: 30%;
        margin-left: 40%;
    }

    .modalContainerMatch{
        background-color: rgb(142, 168, 142);
        height: 35vh;
        width: 40%;
        margin-left: 30%;
        border-radius: 10px;
        border: solid black;
    }
    .cancel_button_col{
        margin-left: 45%;
        width: 30%;
    }
    .next-button{
        margin-left: 10%;
    }
  
    .PL_next{
        margin-left: 30%;
    }
    .Next_match{
        margin-left: 30%;
    }
}




@media screen and (max-width:950px) {
    .Training_each_player{
        height: 35vh;
        width:40%;
        margin-left: 30%;
    }
    .Tr{
        margin-top: 30%;
        margin-left: 40%;
    }
    .Next_match{
        margin-left: 40%;
    }

    
}
@media screen and (max-width:900px) {

    .modalContainerTraining{
        background-color: rgb(142, 168, 142);
        height: 35vh;
        width: 45%;
        margin-left: 27.5%;
        border-radius: 10px;
        border: solid black;
    }
    .modalContainerMatch{
        background-color: rgb(142, 168, 142);
        height: 35vh;
        width: 45%;
        margin-left: 27.5%;
        border-radius: 10px;
        border: solid black;
    }
    
}

.showErrors{
    color:rgb(187, 2, 2);
    font-weight: 800;
    height: 2rem;
    text-align: left;
}


.ShowConfirmMessage{
    color:rgb(19, 102, 26);
    font-weight: 800;
    height: 2rem;
    text-align: left;
}


@media screen and (max-width:850px) {
    
    .modalContainer{
        background-color: rgb(142, 168, 142);
        height: 60vh;
        width: 50%;
        margin-left: 25%;
        border-radius: 10px;
        border: solid black;
    
    }

        
    .modalContainerTraining{
        background-color: rgb(142, 168, 142);
        height: 35vh;
        width: 45%;
        margin-left: 27.5%;
        border-radius: 10px;
        border: solid black;
    }
   
    .modalContainerMatch{
        background-color: rgb(142, 168, 142);
        height: 35vh;
        width: 50%;
        margin-left: 25%;
        border-radius: 10px;
        border: solid black;
    }
    .Training_each_player{
        height: 40vh;
        width:40%;
        margin-left: 30%;
    }
}
