.navbar{
    display: flex;
}

.container_settings{
    background-color: black;
}
.modal{
    width: 100%;
}
.nav-logo{
    color:white;
    text-decoration: none;
    font-size:4vh;
    text-align: center;
}
.Username{
    border-radius: 8px;
    background-color: rgb(231, 231, 231);
    color:black;
}


.user_email{
    background-color: white;
    width:100%;
}
.user_password{
    background-color: white;
    width:100%;
}
.Exit{
    height:fit-content;
    width: 40%;
    display: none;
}
.Exit:hover{
    cursor: pointer;
}
.userBTN:hover{
    cursor: pointer;
}
.userBTN{
    height:fit-content;
    width: 40%;
    display: none;
}

.PlayersNav{
    margin-left: 20%;
}
.logo{
    text-align: left;
    margin-left: 3%;
}

.FOOTBALLAPP{
    text-align: left;
    align-items: left;
}
.row-full-nav{
    display: flex;
    height: 8vh;
    background-color: rgb(90, 90, 91);
    align-items: center;
}

.col-2{
    align-items: center;
    text-align: center;   
    width: fit-content; 
}

.nav-links{
    text-decoration: none;
    color:white;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
}

.nav-links1{
    text-decoration: none;
    color:white;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
}


.LogOut{
    border-radius: 10px;
    background-color: rgb(117, 0, 0);
    color: white;
}




.active{
    text-decoration: underline;
    color: cadetblue;
}



.view{
    margin-left: 45%;
    border-radius:8px;
    background-color: white;
    text-decoration: underline;
}


@media screen and (max-width:1200px) {
    .LogOut{
        display: none;
    }
    .Username{
        display: none;
    }
    .Exit{
        display: flex;
    }
    
    .userBTN{
        display: flex;
        margin-left: 30%;
        border-radius: 8px;
        padding:-1px;
    }

}


@media screen and (max-width:1000px) {
    .nav-logo{
        font-size: 3vh;
    }
    .nav-links{
        font-size: 2vh;
    }
    
    .PlayersNav{
        margin-left: 25%;
    }

    .LogOut{
        font-size: 80%;
    }
}


@media screen and (max-width:894px) {
    .LogOut{
        font-size: 80%;
    }

}



@media screen and (max-width:800px) {
    .LogOut{
        font-size: 60%;
    }

}
