.Icon{
    width: 5vh;
    height: 5vh;
}
.player{
    text-align: center;
    justify-content: center;
    position: relative;
    align-items: center;
}


.player_name{
    height: fit-content;
    background-color: rgb(0, 253, 106);
    border-radius: 10px;
    min-width: 80%;
    margin-left: 10%;
    width: fit-content;
    font-size: 100%;
    justify-content:right;
}
.player_name_select{
    height: fit-content;
    background-color: rgb(0, 253, 106);
    border-radius: 10px;
    width: 90%;
    margin-left: 10%;
    font-size: 90%;
    
}


